body{
    background: rgb(0, 204, 255);
    font: normal 12pt arial ;
}
header{
    color: white;
    text-align: center; 
}
section{
    background: white;
    border-radius: 15px;
    padding: 20px;
    width:  440px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
}
footer{
    color: white; 
    text-align: center; 
    font-style: italic;
}
}